# Storage
set_store.json
vector_store.json

# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Secrets / configs
.webwright_config
.webwright_history

# Distribution / packaging / logs
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
logs

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


