gitpython
prompt_toolkit
beautifulsoup4
coolname
pygments
openai
openai[datalib]
tenacity
anthropic
torch
transformers
sentence_transformers==2.2.2
InstructorEmbedding
Halo
PyGithub
cowsay
google-generativeai
unidiff
patch
chromadb==0.5.4
chroma-hnswlib==0.7.3