html { 
  height: 100%;
  font-size: 15px;
}

body {
  background: #333;
  font-size: 18px; 
  font-family: monospace;
  height: 99%; 
  margin: 0px;
  padding-left: 3px;
  padding: 0px;
}

form { 
  padding: 0px; 
  margin: 0px;
}

ol {
  font-size: 18px !important;
  padding-inline-start: 20px;
}

pre { 
  font-size: 12px; 
}

br { 
  clear: both; 
}

:focus { 
  outline: 0;
}

img.rounded {
  max-width: 100%;
}

table { 
  padding: 0px; 
  margin: 0px; 
  border-collapse: collapse; 
  border-spacing: 0px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

td { 
  padding: 0px; 
  margin: 0px; 
  vertical-align: top; 
  font-size: 12px; 
}

button {
  -webkit-appearance: none;
  border-radius: 0;
}

button,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
  -webkit-appearance: none;
}

img {
  border: none;
}

@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
  .dropdown-menu {
      height: auto;
      max-height: calc(100vh - 60px);
      overflow-x: hidden;
  }
  .hero_image {
    width: 500px;
  }
}

@media (max-width: 767px) {
  .dropdown-menu {
    height: auto;
    max-height: calc(100vh - 240px);
    overflow-x: hidden;
  }
  .nav-wrapper {
    display: none;
  }
  .hero_image {
    width: 300px;
  }
}

a, a:hover {
  color: #96c9ff;
  text-decoration: overline;
}

a.terminal_link, a.terminal_link:hover {
  text-decoration: overline;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.2rem;
  font-weight: 250;
  line-height: 1.3;
}

h3 {
  color: white;
  font-size: 36px;
}

div.flash {
  color: red;
}

div.email_form {
  margin-top: 160px;
}

/* footer */
div.controls {
  background: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 23px;
  padding-top: 5px;
  padding-left: 8px;
}

/* terminal */
div.console { 
  font-size: 18px;
  padding-left: 3px;
  padding-top:  3px;
  font-family: 
    SFMono-Regular, 
    Menlo, 
    Monaco, 
    Consolas, 
    "Liberation Mono", 
    "Courier New", 
    monospace !important;
  color: #eee;
  line-height: 24px;
  word-break: break-all;
}

pre.code { 
  font-size: 18px;
  padding-left: 3px;
  padding-top:  3px;
  margin-bottom: 0px;
  font-family: 
    SFMono-Regular, 
    Menlo, 
    Monaco, 
    Consolas, 
    "Liberation Mono", 
    "Courier New", 
    monospace !important;
  color: #eee;
  line-height: 24px;
  word-break: break-all;
}

div.console div.jquery-console-inner {
  background: #333;
  overflow: auto;
  padding-bottom: 24px;
}

div.console div.jquery-console-prompt-box {
  color: #fff;
}

div.console div.jquery-console-fake-prompt {
  color: #fff;
}

div.console div.jquery-console-focus span.jquery-console-cursor {
  background: #fefefe;
  color: #333;
  font-weight: bold
}

div.console div.jquery-console-message-error {
  color: #ef0505;
  font-family: sans-serif;
  font-weight: bold;
}

div.console div.jquery-console-message-value {
  color: #1ad027;
}

div.jquery-console-message-value a { color: #1ad027; }

div.console div.jquery-console-message-type {
  color: #52666f;
  background: #444;
}

div.console div.jquery-console-warning {
  color: #f00;
}

div.console span.jquery-console-prompt-label { 
  color: #36c93c;
}

/* pdf canvas for thumbnails */
canvas {
  object-fit: cover; /* Do not scale the image */
  object-position: top; /* Center the image within the element */
  width: 240px;
  max-height: 480px;
  margin-top: 8px;
  border: 6px dashed black;
}

.dynamicsparkline canvas{
  border: none;
  width: 100%;
}

.shell-nav {
  padding-left: 5px;
}

.web.a {
  text-decoration: underline; color: #bb99bb;
}

.login:hover {
  color: black;
  text-decoration: overline;
}

.err {
  display: inline-block;
  position: relative;
}

.err:before {
  content: "~~~~~~~~~~~~";
  font-size: 0.6em;
  font-weight: 700;
  font-family: Times New Roman, Serif;
  color: red;
  width: 100%;
  position: absolute;
  top: 12px;
  left: -1px;
  overflow: hidden;
}

.badge-sm {
  min-width: 1.8em;
  padding: .25em !important;
  margin-left: .1em;
  margin-right: .1em;
  cursor: pointer;
}

.string { color: #7A7; }
.number { color: #A77; }
.boolean { color: #77A; }
.null { color: #F8F; }
.key { color: #CCC; }

.curly-underline {
  background: url(/static/underline.gif) bottom repeat-x;
}

.display-4 {
  font-size: 2.2rem !important;
}

.fulltext {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mark, mark {
  padding: 0em !important;
  background-color: #fcf8e3;
  opacity: 0.800;
}

.container pre {
  color: #eee;
  background-color: #444;
  padding: 6px;
}

.display-4 {
  color: #123321;
}

.rights {
  margin-bottom: 20px;
}

.container_api h1 {
  font-size: 3.5rem;
  font-weight: 250;
  line-height: 1.3;
  font-variant-caps: all-small-caps;
}

.container_api h2 {
  font-size: 2.5rem;
  font-weight: 230;
  line-height: 1.1;
  font-variant-caps: all-small-caps;
}

.container_api h3 {
  font-size: 1.9rem;
  font-weight: 230;
  line-height: 1.0;
  font-variant-caps: all-small-caps;
}

.container_api h4 {
  font-size: 1.0rem;
  font-weight: 190;
  line-height: 0.9;
  font-variant-caps: all-small-caps;
}

.container_api h5 {
  font-size: 0.90rem;
  font-weight: 180;
  line-height: 1.1;
}

.console h1,
.console h2,
.console h3,
.console h4,
.console h5 {
  border-bottom: 1px dashed #8c6a6a;
  color: #333;
}

.console h4 {
  border-bottom: 1px dashed #8c6a6a;
}
.console h3 {
  border-bottom: 1px dashed #91bf97;
}

.container, {
  max-width: 960px;
}

.pricing-header {
  max-width: 900px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { 
  border-top: 1px solid #e5e5e5; 
}

.border-bottom { 
  border-bottom: 1px solid #e5e5e5; 
}

.box-shadow { 
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
}

.drop-message {
  color: #333;
}
.drop-message a {
  color: red;
}

.sidekick_prompt {
  color: #c98536;
}

.system_prompt {
  color: #96c9ff;
}

.drop-region {
  text-align: center;
  cursor: pointer;
  width: 640px;
  height: 72px;
  padding: 8px;
  margin-top: 1px;
  background-color: #fff;
  border:1px dashed #111;
}

/* emotional outputs */
.shocked_response {
  color: green;
  border: 1px dashed red;
}

.censored_response {
  color: red;
  border: 1px dashed purple;
}

.cute_response {
  color: orange;
  border: 1px dashed pink;
}

.image-preview .image-view {
  display: inline-flex;
  position: relative;
  margin-right: 13px;
  margin-bottom: 13px;
}

.image-preview .image-view img {
  object-fit: cover; /* Do not scale the image */
  object-position: top; /* Center the image within the element */
  margin-top: 8px;
  border: 6px dashed black;
}

.image-preview .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 2;
  background: rgba(255,255,255,0.5);
}

.overlay {
  margin-top: 8px;
  margine-bottom: 8px;
}

.timestamp {
  background-color: #444;
  mix-blend-mode: difference;
  color: lime;
  font-size: 12px;
  padding: 2px;
  margin: 2px;
  border-bottom: 1px dashed green;
}

.title {
  background-color: #f7bc7e;
  color: #000;
  display: inline;
  padding: 2px;
}

.screenshot-wrap {
  object-fit: cover; /* Do not scale the image */
  object-position: top; /* Center the image within the element */
  width: 420px;
  height: 250px;
  margin: 8px;
  border: 10px dashed black;
}

.image-wrap {
  object-fit: cover; /* Do not scale the image */
  margin: 8px;
  border: 6px dashed black;
}